[Desktop Entry]
Encoding=UTF-8
Name=Epic
Comment=Epic P2P Cryptocurrency
Exec=epic-qt %u
Terminal=false
Type=Application
Icon=epic128
MimeType=x-scheme-handler/epic;
Categories=Office;Finance;
Name[en_US]=epic-qt.desktop
